.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
config
ssl
*.pem
*.crt
files
priv/config.d/secrets
priv/config.d/zsecrets
priv/mnesia
priv/data
priv/log
priv/config.d/vars
priv/zotonic_site.config
