[
 %% This site is enabled or not.
 {enabled, true},

 %% Depcache settings, maximum size in mbs
 {depcache_memory_max, 100},

 %% This site doesn't use a database connection
 {dbdatabase, none},

 %% Keys used to request
 {sign_key, "%%SIGNKEY%%"},
 {sign_key_simple, "%%SIGNKEYSIMPLE%%"},

 {modules, [phiz
           ,zotonic_core
           ,zotonic_notifier
           ,mod_admin
           ,mod_base
           ,mod_base_site
           ,mod_search
           ,mod_authentication
           ,mod_acl
           ,mod_acl_mock
           ,mod_acl_user_groups
           ,mod_content_groups
           ,mod_menu
           ,mod_bootstrap
           ,mod_mqtt
           ,mod_l10n
           ,mod_ssl_ca
           ,mod_signal
           ,mod_zotonic_tracer
           ,mod_rest
           ,mod_development
           ,mod_translation
           ,mod_ssl_letsencrypt
           ,mod_cron
           ,mod_kazoo
           ,mod_bt
           ]
 }

].
