%% Zotonic site configuration for phiz.
[
 %% This site is enabled or not.
 {enabled, true},

 %% Hostname on which this site runs
 {hostname, "zotp.onnet.su"},

 %% Aliases which should redirect to the primary hostname
 %%{hostalias, ["www.example.com", "example.com"]},

 %% PostgreSQL database connection
 {dbhost, "127.0.0.1"},
 {dbport, 5432},
 {dbuser, "zotonic"},
 {dbpassword, "zotonic"},
 {dbdatabase, "zotonic"},
 {dbschema, "public"},

 %% Depcache settings, maximum size in mbs
 {depcache_memory_max, 100},

 %% Password for the 'admin' user.
 {admin_password, "kbvdn748gB76JG"},

 %% What skeleton site this site is based on; for installing the initial data.
 {skeleton, blog},
 
 %% Keys used to request
 {sign_key, "%%SIGNKEY%%"},
 {sign_key_simple, "%%SIGNKEYSIMPLE%%"},

 %% Uncomment to override skeleton defaults
 %%{install_menu, []},
 %%{install_modules, []},

 %% Specific options

 %% Title of your site
 %%{title, <<"Your first blog">>},
 %% Subtitle
 %%{subtitle, <<"built with Zotonic, the Erlang CMS.">>},

 %% Page length
 {pagelen, 10}
].
